<ion-content>
  <ion-list>
    <ion-item *ngFor="let filme of filmes?.results">
      <ion-card>
        <img
          src="https://image.tmdb.org/t/p/original/{{filme.backdrop_path}}"
          alt=""
        />
        <ion-card-header>
          <ion-card-title>{{filme.title}}</ion-card-title>
          <ion-card-subtitle>Generos: {{retornarGeneros(filme.genre_ids)}}</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>{{filme.overview}}</ion-card-content>
      </ion-card>


    </ion-item>
  </ion-list>
</ion-content>
